.content{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 40px;
}

img.background{
    position: fixed;
    height: 65vh;
    top: 10%;
    left: 0;
}

.info{
    width: 60%;
    margin-right: 90px;
    margin-top: 40px;
}